
    Admin Area
    <p> @Html.ActionLink("Управление категориями", "Index", "Categories") </p>
    <p> @Html.ActionLink("Управление продукцией", "Index", "Products") </p>
    <p> @Html.ActionLink("Управление акциями", "Index", "StockManagement") </p>
    <p> @Html.ActionLink("Управление заказами", "Index", "StockManagement") </p>
    <p> @Html.ActionLink("Управление пользователями", "Index", "StockManagement") </p>
    <p>Просмотр статистики</p>