@using MiniMarket.Models
@model IEnumerable<MiniMarket.Models.Order>

@{
    ViewData["Title"] = "Order list";
}

<h2>Order list</h2>
<div class="container">
    @foreach (Order item in Model)
    {
    <div class="row">
        <div class="col-md-3" style="font-size:10px;">
            <div>id: @item.Id</div>
            <div>data:<span style="font-size:12px;"> @item.DateInsert</span> </div>
            <div>status: @item.Status</div>
            <div>
                manager comment:
                @if (string.IsNullOrEmpty(@item.ManagerComment))
                {
                    @Html.ActionLink("AddComment", "AddComment", new { id = item.Id })
                }
                else
                {
                    <span style="font-size:12px;"> @item.ManagerComment</span>
                    <br />
                    @Html.ActionLink("ChangeComment", "ChangeComment", new { id = item.Id })
                }

            </div>
        </div>
        <div class="col-md-3" style="font-size:10px;">
            <div>Улица: <span style="font-size:12px;">@item.Address.Street</span> </div>
            <div>Телефон:<span style="font-size:12px;"> @item.Address.Phone</span> </div>
            <div>Email</div>
            <div>
                Область: <span style="font-size:12px;">@ViewData[@item.Address.DeliveryAreaId.ToString()]</span>
            </div>
            <div>Комментарий: <span style="font-size:12px;"> @item.Description</span> </div>
        </div>

        @if (item.Items != null)
        {
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="col-md-3">
                        Наименование
                    </div>
                    <div class="col-md-3">
                        Стоимость
                    </div>
                    <div class="col-md-3">
                        Колво
                    </div>
                    <div class="col-md-3">
                        Сумма
                    </div>
                </div>
            </div>
            @{decimal totalPrice = 0;}
            @foreach (var product in item.Items)
            {
                <div class="row" style="font-size:10px;">
                    <div class="col">
                        <div class="col-md-3">
                            @product.Product.Name
                        </div>
                        <div class="col-md-3">
                            @product.Product.Price
                        </div>
                        <div class="col-md-3">
                            @product.Count
                        </div>
                        <div class="col-md-3">
                            @(product.Product.Price * product.Count)
                        </div>
                    </div>
                </div>
                totalPrice += (product.Product.Price * product.Count);
            }
            <div class="row" style="font-size:14px;">
                <div class="col">
                    <div class="col-md-9">
                        Total:
                    </div>
                    <div class="col-md-3">
                        @totalPrice
                    </div>
                </div>
            </div>
        </div>
        }


    </div>
                <div class="row">
                    <div class="col-md-2">@Html.ActionLink("ChangeStatus", "ChangeStatus", new { id = item.Id })</div>
                </div>
                <br />
            }
        </div>